.tituloInt{
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.txtInt{
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    width: 55%;
}

.int{
    justify-items: center;
}