/* FOREGROUND COLOR VARIABLES */
.elemento{
    color: #fff;
}
.elemento p {
	color: #fff;
	font-size: 0.7em;
}

* {
    list-style:none;
	box-sizing:border-box;
}

main {
    text-align: center;
}

p:last-child{
	font-size:.7em;	
}

main{
	margin:auto;
	max-width:45em;
	display:flex;
}

#grid-container{
	flex-grow:1;
	min-width:7em;	
}

.col-hidden{
	display:none;	
}

section{
	height:4.5em;
	width: 4.5em;
	background: black;
	border:.125rem solid;
	border-radius:0.25rem;	
	line-height:1.25;
	margin-bottom:.5em;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

span{
	font-size:.75em;
	position:absolute;
	top:.3em;
	left:.5em;	
}

.tabela {
	display: flex;
	align-items: center;
	width: 100%;
}

@media only screen and (min-width:80em){
	@supports (display:grid){
		/* GRID CONTAINER STYLES */
	
		main{
			max-width:130.5em;
			display:block;
		}
		
		#grid-container{
			display:grid;
			grid-template-columns:repeat(18, 4.5em);
			grid-gap:.05em;	
		}
			
		.col-span16{
			grid-column:span 16;
		}
			
		.col-span10{
			grid-column:span 10;
		}
			
		.col-span3{
			grid-column:span 3;
		}
			
		.col-hidden{
			display:block;
			visibility:hidden;
		}
			
		
		/* GRID CELL */
		
		section{
			margin:0;
			transition: ease-in-out .25s;
		}
			
		section:hover{
			transform:scale(1.1);
			cursor:pointer;
			z-index:2;
		}
	}
}

@media only screen and (min-width:102.5em){
	/* GLOBAL STYLES */
		body{
			font-size:.75em;	
		}	
}
