.elemento{
    color: #fff;
	cursor: default;
}
.elemento-clicavel{
	color:#37de0d;
	cursor: pointer;
	z-index: 999;
}
.elemento-clicavel:hover{
	transform: scale(1.2);
}
.elemento-clicavel h2 {
	color: #37de0d;
}
.elemento p, .elemento-clicavel p {
	font-size: 0.7em;
}

.titulo{
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 5%;
}

* {
    list-style:none;
	box-sizing:border-box;
}

main{
	margin:auto;
	max-width:45em;
	display:flex;
	text-align: center;
}

#grid-container{
	flex-grow:1;
	min-width:7em;	
}

.col-hidden{
	display:none;	
}

section{
	height:4.5em;
	width: 4.5em;
	background: black;
	border:.125rem solid;
	border-radius:0.25rem;	
	line-height:1.25;
	margin-bottom:.5em;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;

}

span{
	font-size:.75em;
	position:absolute;
	top:.3em;
	left:.5em;	
}

.tabela {
	display: flex;
	align-items: center;
	width: 100%;
}
@keyframes transiçãoelemento {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 100;
	}
  }
.elemento-clique {
	animation: 1s ease-in-out 0s 1 transiçãoelemento;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 100%;
	display: inline-flex;
}
.elemento-clique section {
	color: rgb(255, 251, 12);
	height:6em;
	width: 6em;
}
.elemento-clique h2{
	color: rgb(255, 251, 12);
}

.elemento-clique span, .elemento-clique p{
	font-size: 1.2em;
}
.texto-elemento {
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	float: right;
	width: 600px;
	color: #fff;
}
.texto-elemento h2{
	color: #fff;
}

@media only screen and (min-width:80em){
	@supports (display:grid){
		main{
			max-width:130.5em;
			display:block;
		}
		#grid-container{
			display:grid;
			grid-template-columns:repeat(18, 4.5em);
			grid-gap:.05em;	
		}	
		.col-span16{
			grid-column:span 16;
		}	
		.col-span10{
			grid-column:span 10;
		}	
		.col-span3{
			grid-column:span 3;
		}
		.col-hidden{
			display:block;
			visibility:hidden;
		}
		section{
			margin:0;
			transition: ease-in-out .25s;
		}
	}
}


@media screen and (max-width: 600px) {
	.elemento {
		display: none;
	}
	.titulo{
		font-size: 2em;
	}
	#grid-container{
		display: grid;
		grid-template-columns:repeat(3, 4.5em);
		grid-gap:.6em;	
	}
	.elemento-clique {
		display: grid;
		width: 100vw;
		text-align: center;
	}
	.elemento-clique .elemento {
		display: none;
	}
	.elemento-clicavel:hover {
		transform: scale(1);
	}
	.texto-elemento {
		margin-left: 0;
		width: 90vw;
		margin: 0 5vw;
	}
  }
