h1 {
    color: #fff;
}

.titulo1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.img1{
    height: 250px;
    width: 250px;
}

.minititulo{
    margin-left: 50px;
    font-size: 25px;
    color: white;
    float: right;
}

.div1{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.txt1{
    color: white;
    font-size: 20px;
    width: 400px;
    margin-top: 50px;
    float: right;
    margin-left: -130px;
}

.txt2{
    color: white;
    font-size: 20px;
    width: 400px;
    margin-top: 50px;
    float: right;
    margin-left: -85px;
}

